# Fins de ligne normalisées en LF dans le dépôt (Windows, Linux et Mac dans l'équipe)
* text=auto eol=lf

# Scripts Windows
*.cmd text eol=crlf
*.bat text eol=crlf

# Binaires
*.jar binary
*.png binary
*.jpg binary
*.ico binary
*.pdf binary
